
.prism .token.punctuation,.token.pre.gfm .token.punctuation {
    color: #999
}
.prism .token.boolean,.prism .token.constant,.prism .token.deleted,.prism .token.number,.prism .token.property,.prism .token.symbol,.prism .token.tag,.token.pre.gfm .token.boolean,.token.pre.gfm .token.constant,.token.pre.gfm .token.deleted,.token.pre.gfm .token.number,.token.pre.gfm .token.property,.token.pre.gfm .token.symbol,.token.pre.gfm .token.tag {
    color: #905
}

.prism .token.boolean,.prism .token.constant,.prism .token.deleted,.prism .token.number,.prism .token.property,.prism .token.symbol,.prism .token.tag,.token.pre.gfm .token.boolean,.token.pre.gfm .token.constant,.token.pre.gfm .token.deleted,.token.pre.gfm .token.number,.token.pre.gfm .token.property,.token.pre.gfm .token.symbol,.token.pre.gfm .token.tag {
    color: #905
}

.prism .token.attr-name,.prism .token.builtin,.prism .token.char,.prism .token.inserted,.prism .token.selector,.prism .token.string,.token.pre.gfm .token.attr-name,.token.pre.gfm .token.builtin,.token.pre.gfm .token.char,.token.pre.gfm .token.inserted,.token.pre.gfm .token.selector,.token.pre.gfm .token.string {
    color: #690
}

.prism .language-css .token.string,.prism .style .token.string,.prism .token.entity,.prism .token.operator,.prism .token.url,.token.pre.gfm .language-css .token.string,.token.pre.gfm .style .token.string,.token.pre.gfm .token.entity,.token.pre.gfm .token.operator,.token.pre.gfm .token.url {
    color: #a67f59
}

.prism .token.atrule,.prism .token.attr-value,.prism .token.keyword,.token.pre.gfm .token.atrule,.token.pre.gfm .token.attr-value,.token.pre.gfm .token.keyword {
    color: #07a
}

.prism .token.function,.token.pre.gfm .token.function {
    color: #dd4a68
}
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,footer,header,nav,section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}
main {
    display: block
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}
b,strong {
    font-weight: inherit;
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

img {
    border-style: none
}
body,html {
    color: rgba(0,0,0,.75);
    font-size: 16px;
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

blockquote,dl,ol,p,pre,ul {
    margin: 1.2em 0
}

h1,h2,h3,h4,h5,h6 {
    margin: 1.8em 0;
    line-height: 1.33
}

h1:after,h2:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0,0%,50%,.33)
}

ol ol,ol ul,ul ol,ul ul {
    margin: 0
}

dt {
    font-weight: 700
}

a {
    color: #0c93e4;
    text-decoration: underline;
    text-decoration-skip: ink
}

a:focus,a:hover {
    text-decoration: none
}

code,pre,samp {
    font-family: Roboto Mono,Lucida Sans Typewriter,Lucida Console,monaco,Courrier,monospace;
    font-size: .85em
}

code *,pre *,samp * {
    font-size: inherit
}

code {
    background-color: rgba(0,0,0,.05);
    border-radius: 3px;
    padding: 2px 4px
}

pre>code {
    background-color: rgba(0,0,0,.05);
    display: block;
    padding: .5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px
}

td:last-child,th:last-child {
    border-right: 0
}

td {
    border-top: 1px solid #dcdcdc
}

mark {
    background-color: #f8f840
}

kbd {
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    background-color: #fff;
    border: 1px solid rgba(63,63,63,.25);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(63,63,63,.25);
    color: #333;
    display: inline-block;
    font-size: .8em;
    margin: 0 .1em;
    padding: .1em .6em;
    white-space: nowrap
}

abbr[title] {
    border-bottom: 1px dotted #777;
    cursor: help
}

img {
    max-width: 100%
}

.task-list-item {
    list-style-type: none
}

.task-list-item-checkbox {
    margin: 0 .2em 0 -1.3em
}

.footnote {
    font-size: .8em;
    position: relative;
    top: -.25em;
    vertical-align: top
}

.page-break-after {
    page-break-after: always
}

.abc-notation-block {
    overflow-x: auto!important
}

.stackedit__html {
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 750px
}

.stackedit__toc ul {
    padding: 0
}

.stackedit__toc ul a {
    margin: .5rem 0;
    padding: .5rem 1rem
}

.stackedit__toc ul ul {
    color: #888;
    font-size: .9em
}

.stackedit__toc ul ul a {
    margin: 0;
    padding: .1rem 1rem
}

.stackedit__toc li {
    display: block
}

.stackedit__toc a {
    display: block;
    color: inherit;
    text-decoration: none
}

.stackedit__toc a:active,.stackedit__toc a:focus,.stackedit__toc a:hover {
    background-color: rgba(0,0,0,.075);
    border-radius: 3px
}

.stackedit__left {
    position: fixed;
    display: none;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none
}

@media (min-width: 1060px) {
    .stackedit__left {
        display:block
    }
}

.stackedit__right {
    position: absolute;
    right: 0;
    top: 0;
    left: 0
}

@media (min-width: 1060px) {
    .stackedit__right {
        left:250px
    }
}

.stackedit--pdf blockquote {
    border-left-color: #ececec
}

.stackedit--pdf .stackedit__html {
    padding-left: 0;
    padding-right: 0;
    max-width: none
}
